@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap');

:root {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #161618;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: #1CD8D2;
}

p {
  color: #a0a0a0;
}

a {
  color: #ededed;
}

a:hover {
  color: #1CD8D2;
}
